openapi: 3.1.0
info:
  contact:
    email: hello@opal.dev
    name: Opal Team
    url: https://www.opal.dev/
  description: The Opal API is a RESTful API that allows you to interact with the
    Opal Security platform programmatically.
  title: Opal API
  version: "1.0"
servers:
- description: Production
  url: https://api.opal.dev/v1
tags:
- description: Operations related to access rules
  name: access-rules
- description: Operations related to apps
  name: apps
- description: Operations related to bundles
  name: bundles
- description: Operations related to configuration templates
  name: configuration-templates
- description: Operations related to request reviewer delegations
  name: delegations
- description: Operations related to event streaming connections
  name: event-streams
- description: Operations related to events
  name: events
- description: Operations related to groups
  name: groups
- description: Operations related to group bindings
  name: group-bindings
- description: Operations related to IDP group mappings
  name: idp-group-mappings
- description: Operations related to message channels
  name: message-channels
- description: Operations related to non-human identities
  name: non-human-identities
- description: Operations related to on-call schedules
  name: on-call-schedules
- description: Operations related to OpalQuery
  name: opal-queries
- description: Operations related to owners
  name: owners
- description: Operations related to requests
  name: requests
- description: Operations related to resources
  name: resources
- description: Operations related to sessions
  name: sessions
- description: Operations related to tags
  name: tags
- description: Operations related to API tokens
  name: tokens
- description: Operations related to UARs
  name: uars
- description: Operations related to users
  name: users
paths:
  /apps:
    get:
      description: Returns a list of `App` objects.
      operationId: getApps
      parameters:
      - description: A list of app types to filter by.
        example:
        - OKTA_DIRECTORY
        - GIT_HUB
        explode: false
        in: query
        name: app_type_filter
        required: false
        schema:
          items:
            $ref: "#/components/schemas/AppTypeEnum"
          type: array
        style: form
      - description: An owner ID to filter by.
        example: 29827fb8-f2dd-4e80-9576-28e31e9934ac
        explode: true
        in: query
        name: owner_filter
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppsList"
          description: A list of apps for your organization.
      security:
      - BearerAuth: []
      summary: Get apps
      tags:
      - apps
  /apps/{app_id}:
    get:
      description: Returns an `App` object.
      operationId: getApp
      parameters:
      - description: The ID of the app.
        example: 32acc112-21ff-4669-91c2-21e27683eaa1
        explode: true
        in: path
        name: app_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/App"
          description: The requested `App`.
      security:
      - BearerAuth: []
      summary: Get app by ID
      tags:
      - apps
  /bundles:
    get:
      description: Returns a list of `Bundle` objects.
      operationId: getBundles
      parameters:
      - description: "The maximum number of bundles to return from the beginning of\
          \ the list. Default is 200, max is 1000."
        example: 200
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: A cursor indicating where to start fetching items after a specific
          point.
        example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: A filter for the bundle name.
        example: Engineering
        explode: true
        in: query
        name: contains
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedBundleList"
          description: A list of bundles for your organization.
      security:
      - BearerAuth: []
      summary: Get bundles
      tags:
      - bundles
    post:
      description: Creates a bundle.
      operationId: createBundle
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBundleInfo"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bundle"
          description: The bundle successfully created.
      security:
      - BearerAuth: []
      tags:
      - bundles
  /bundles/{bundle_id}:
    delete:
      description: Deletes a bundle.
      operationId: deleteBundle
      parameters:
      - description: The ID of the bundle.
        example: 32acc112-21ff-4669-91c2-21e27683eaa1
        explode: true
        in: path
        name: bundle_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: The bundle was successfully deleted.
      security:
      - BearerAuth: []
      tags:
      - bundles
    get:
      description: Returns a `Bundle` object.
      operationId: getBundle
      parameters:
      - description: The ID of the bundle.
        example: 32acc112-21ff-4669-91c2-21e27683eaa1
        explode: true
        in: path
        name: bundle_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bundle"
          description: The requested `Bundle`.
      security:
      - BearerAuth: []
      summary: Get bundle by ID
      tags:
      - bundles
    put:
      description: Updates a bundle.
      operationId: updateBundle
      parameters:
      - description: The ID of the bundle to be updated.
        example: 32acc112-21ff-4669-91c2-21e27683eaa1
        explode: false
        in: path
        name: bundle_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Bundle"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bundle"
          description: The bundle was successfully updated.
        "204":
          description: No changes detected (no-op)
      security:
      - BearerAuth: []
      tags:
      - bundles
  /bundles/{bundle_id}/resources:
    get:
      description: Returns a list of `Resource` objects in a given bundle.
      operationId: getBundleResources
      parameters:
      - description: The ID of the bundle.
        example: 32acc112-21ff-4669-91c2-21e27683eaa1
        explode: false
        in: path
        name: bundle_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The maximum number of resources to return from the beginning\
          \ of the list. Default is 200, max is 1000."
        example: 200
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: A cursor indicating where to start fetching items after a specific
          point.
        example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedBundleResourceList"
          description: A list of resources for the bundle.
      security:
      - BearerAuth: []
      tags:
      - bundles
    post:
      description: Adds a resource to a bundle.
      operationId: addBundleResource
      parameters:
      - description: The ID of the bundle.
        example: 32acc112-21ff-4669-91c2-21e27683eaa1
        explode: false
        in: path
        name: bundle_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/addBundleResource_request"
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BundleResource"
          description: Resource was successfully added to the bundle.
      security:
      - BearerAuth: []
      tags:
      - bundles
  /bundles/{bundle_id}/resources/{resource_id}:
    delete:
      description: Removes a resource from a bundle.
      operationId: removeBundleResource
      parameters:
      - description: The ID of the bundle.
        example: 32acc112-21ff-4669-91c2-21e27683eaa1
        explode: false
        in: path
        name: bundle_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of the resource to remove.
        example: 72e75a6f-7183-48c5-94ff-6013f213314b
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The remote ID of the access level to grant. If omitted, the\
          \ default access level remote ID value (empty string) is used."
        example: arn:aws:iam::590304332660:role/AdministratorAccess
        explode: true
        in: query
        name: access_level_remote_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Resource was successfully removed from the bundle.
      security:
      - BearerAuth: []
      tags:
      - bundles
  /bundles/{bundle_id}/groups:
    get:
      description: Returns a list of `Group` objects in a given bundle.
      operationId: getBundleGroups
      parameters:
      - description: The ID of the bundle.
        example: 32acc112-21ff-4669-91c2-21e27683eaa1
        explode: false
        in: path
        name: bundle_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The maximum number of groups to return from the beginning of\
          \ the list. Default is 200, max is 1000."
        example: 200
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: A cursor indicating where to start fetching items after a specific
          point.
        example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedBundleGroupList"
          description: A list of groups for the bundle.
      security:
      - BearerAuth: []
      tags:
      - bundles
    post:
      description: Adds a group to a bundle.
      operationId: addBundleGroup
      parameters:
      - description: The ID of the bundle.
        example: 32acc112-21ff-4669-91c2-21e27683eaa1
        explode: false
        in: path
        name: bundle_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/addBundleGroup_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BundleGroup"
          description: Group was successfully added to the bundle.
      security:
      - BearerAuth: []
      tags:
      - bundles
  /bundles/{bundle_id}/groups/{group_id}:
    delete:
      description: Removes a group from a bundle.
      operationId: removeBundleGroup
      parameters:
      - description: The ID of the bundle.
        example: 32acc112-21ff-4669-91c2-21e27683eaa1
        explode: false
        in: path
        name: bundle_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of the group to remove.
        example: 72e75a6f-7183-48c5-94ff-6013f213314b
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The remote ID of the access level to remove.
        example: arn:aws:iam::590304332660:role/AdministratorAccess
        explode: true
        in: query
        name: access_level_remote_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Group was successfully removed from the bundle.
      security:
      - BearerAuth: []
      tags:
      - bundles
  /bundles/{bundle_id}/visibility:
    get:
      description: Gets the visibility of the bundle.
      operationId: getBundleVisibility
      parameters:
      - description: The ID of the bundle.
        example: 32acc112-21ff-4669-91c2-21e27683eaa1
        explode: false
        in: path
        name: bundle_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VisibilityInfo"
          description: The visibility details of a bundle.
      security:
      - BearerAuth: []
      tags:
      - bundles
    put:
      description: Sets the visibility of the bundle.
      operationId: setBundleVisibility
      parameters:
      - description: The ID of the bundle.
        example: 32acc112-21ff-4669-91c2-21e27683eaa1
        explode: false
        in: path
        name: bundle_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: "#/components/schemas/VisibilityInfo"
              description: The visibility details of the bundle. Setting to LIMITED
                visibility with no visibility groups will make bundle only visible
                to admins and users with access.
        required: true
      responses:
        "200":
          description: The visibility details of the bundle were successfully set.
      security:
      - BearerAuth: []
      tags:
      - bundles
  /configuration-templates:
    get:
      description: Returns a list of `ConfigurationTemplate` objects.
      operationId: getConfigurationTemplates
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedConfigurationTemplateList"
          description: One page worth of configuration templates for your organization.
      security:
      - BearerAuth: []
      tags:
      - configuration-templates
    post:
      description: Creates a configuration template.
      operationId: createConfigurationTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateConfigurationTemplateInfo"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigurationTemplate"
          description: The configuration template just created.
      security:
      - BearerAuth: []
      tags:
      - configuration-templates
    put:
      description: Update a configuration template.
      operationId: updateConfigurationTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateConfigurationTemplateInfo"
        description: Configuration template to be updated
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigurationTemplate"
          description: The configuration template just updated.
      security:
      - BearerAuth: []
      tags:
      - configuration-templates
  /configuration-templates/{configuration_template_id}:
    delete:
      description: Deletes a configuration template.
      operationId: deleteConfigurationTemplate
      parameters:
      - description: The ID of the configuration template.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: configuration_template_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: The configuration template was successfully deleted.
      security:
      - BearerAuth: []
      tags:
      - configuration-templates
  /event-streams:
    get:
      description: Returns a list of configured event streaming connections for your
        organization.
      operationId: getEventStreams
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventStreamList"
          description: A list of event streams for your organization.
      security:
      - BearerAuth: []
      summary: Get event streams
      tags:
      - event-streams
    post:
      description: Creates a new event streaming connection.
      operationId: createEventStream
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEventStreamInfo"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventStream"
          description: The event stream just created. Credentials are returned in
            clear text only on creation.
      security:
      - BearerAuth: []
      summary: Create event stream
      tags:
      - event-streams
  /event-streams/{event_stream_id}:
    delete:
      description: Deletes an event streaming connection.
      operationId: deleteEventStream
      parameters:
      - description: The ID of the event stream.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: event_stream_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: The event stream was successfully deleted.
      security:
      - BearerAuth: []
      summary: Delete event stream
      tags:
      - event-streams
    put:
      description: Updates an existing event streaming connection.
      operationId: updateEventStream
      parameters:
      - description: The ID of the event stream.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: event_stream_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEventStreamInfo"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventStream"
          description: The updated event stream.
      security:
      - BearerAuth: []
      summary: Update event stream
      tags:
      - event-streams
  /events:
    get:
      description: Returns a list of `Event` objects.
      operationId: events
      parameters:
      - description: A start date filter for the events.
        examples:
          withDate:
            summary: Example with date
            value: 2021-11-01
          withDatetime:
            summary: Example with date and time in ISO 8601 datetime format.
            value: 2025-01-01T00:00:00Z
        explode: true
        in: query
        name: start_date_filter
        required: false
        schema:
          type: string
        style: form
      - description: An end date filter for the events.
        examples:
          withDate:
            summary: Example with date
            value: 2021-11-12
          withDatetime:
            summary: Example with date and time in ISO 8601 datetime format.
            value: 2025-01-01T00:00:00Z
        explode: true
        in: query
        name: end_date_filter
        required: false
        schema:
          type: string
        style: form
      - description: An actor filter for the events. Supply the ID of the actor.
        example: 29827fb8-f2dd-4e80-9576-28e31e9934ac
        explode: true
        in: query
        name: actor_filter
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: An object filter for the events. Supply the ID of the object.
        example: 29827fb8-f2dd-4e80-9576-28e31e9934ac
        explode: true
        in: query
        name: object_filter
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: An event type filter for the events.
        example: USER_MFA_RESET
        explode: true
        in: query
        name: event_type_filter
        required: false
        schema:
          type: string
        style: form
      - description: An API filter for the events. Supply the name and preview of
          the API token.
        example: fullaccess:**************************M_g==
        explode: true
        in: query
        name: api_token_filter
        required: false
        schema:
          type: string
        style: form
      - description: The pagination cursor value.
        example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page. Default is 200.
        example: 200
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          maximum: 1000
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedEventList"
          description: One page worth of events with the appropriate filters applied.
      security:
      - BearerAuth: []
      tags:
      - events
  /events/{event_id}:
    get:
      description: Returns an `Event` object.
      operationId: getEvent
      parameters:
      - description: The ID of the event.
        example: 29827fb8-f2dd-4e80-9576-28e31e9934ac
        explode: true
        in: path
        name: event_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event"
          description: The requested `Event`.
        "404":
          description: Event not found.
      security:
      - BearerAuth: []
      summary: Get event by ID
      tags:
      - events
  /groups:
    get:
      description: Returns a list of groups for your organization.
      operationId: getGroups
      parameters:
      - description: The pagination cursor value.
        example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page. Default is 200.
        example: 200
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          maximum: 1000
          type: integer
        style: form
      - description: The group type to filter by.
        example: OPAL_GROUP
        explode: true
        in: query
        name: group_type_filter
        required: false
        schema:
          $ref: "#/components/schemas/GroupTypeEnum"
        style: form
      - description: The group ids to filter by.
        example:
        - 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        - 1b978423-db0a-4037-a4cf-f79c60cb67b3
        explode: false
        in: query
        name: group_ids
        required: false
        schema:
          items:
            example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
            format: uuid
            type: string
          type: array
        style: form
      - description: Group name.
        example: example-name
        explode: true
        in: query
        name: group_name
        required: false
        schema:
          type: string
        style: form
      - description: The IDs of the tags to filter by. Returns only groups that have
          any of these tags applied.
        explode: true
        in: query
        name: tag_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedGroupsList"
          description: One page worth groups associated with your organization.
      security:
      - BearerAuth: []
      summary: Get groups
      tags:
      - groups
    post:
      description: "Creates an Opal group or [imports a remote group](https://docs.opal.dev/reference/end-system-objects)."
      operationId: createGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateGroupInfo"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Group"
          description: The group just created.
      security:
      - BearerAuth: []
      tags:
      - groups
    put:
      description: Bulk updates a list of groups.
      operationId: updateGroups
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateGroupInfoList"
        description: Groups to be updated
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateGroupInfoList"
          description: The resulting updated group infos.
      security:
      - BearerAuth: []
      tags:
      - groups
  /groups/{group_id}:
    delete:
      description: Deletes a group.
      operationId: delete_group
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: The group was successfully deleted.
      security:
      - BearerAuth: []
      tags:
      - groups
    get:
      description: Returns a `Group` object.
      operationId: getGroup
      parameters:
      - description: The ID of the group.
        example: 32acc112-21ff-4669-91c2-21e27683eaa1
        explode: true
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Group"
          description: The requested `Group`.
      security:
      - BearerAuth: []
      summary: Get group by ID
      tags:
      - groups
  /groups/{group_id}/message-channels:
    get:
      description: Gets the list of audit and reviewer message channels attached to
        a group.
      operationId: get_group_message_channels
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageChannelList"
          description: The audit and reviewer message channels attached to the group.
      security:
      - BearerAuth: []
      tags:
      - groups
    put:
      description: Sets the list of audit message channels attached to a group.
      operationId: set_group_message_channels
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MessageChannelIDList"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
                  format: uuid
                  type: string
                type: array
          description: The updated audit message channel IDs for the group.
      security:
      - BearerAuth: []
      tags:
      - groups
  /groups/{group_id}/on-call-schedules:
    get:
      description: Gets the list of on call schedules attached to a group.
      operationId: get_group_on_call_schedules
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OnCallScheduleList"
          description: The on call schedules attached to the group.
      security:
      - BearerAuth: []
      tags:
      - groups
    put:
      description: Sets the list of on call schedules attached to a group.
      operationId: set_group_on_call_schedules
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OnCallScheduleIDList"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  example: bb0197c0-5ea5-45d9-b3b7-b6c439be6435
                  format: uuid
                  type: string
                type: array
          description: The updated on call schedule IDs for the group.
      security:
      - BearerAuth: []
      tags:
      - groups
  /groups/{group_id}/resources:
    get:
      description: Gets the list of resources that the group gives access to.
      operationId: get_group_resources
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupResourceList"
          description: The resources that the group gives access to.
      security:
      - BearerAuth: []
      tags:
      - groups
    put:
      description: Sets the list of resources that the group gives access to.
      operationId: set_group_resources
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateGroupResourcesInfo"
        required: true
      responses:
        "200":
          description: The group resource were successfully set.
      security:
      - BearerAuth: []
      tags:
      - groups
  /groups/{group_id}/containing-groups:
    get:
      description: Gets the list of groups that the group gives access to.
      operationId: get_group_containing_groups
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The access level's remote ID to filter by.
        example: arn:aws:iam::590304332660:role/AdministratorAccess
        explode: true
        in: query
        name: access_level_remote_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupContainingGroupList"
          description: The groups that the group gives access to.
      security:
      - BearerAuth: []
      summary: Get nested groups
      tags:
      - groups
    post:
      description: Creates a new containing group.
      operationId: add_group_containing_group
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GroupContainingGroup"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupContainingGroup"
          description: The created `GroupContainingGroup` object.
      security:
      - BearerAuth: []
      tags:
      - groups
  /groups/{group_id}/containing-groups/{containing_group_id}:
    delete:
      description: Removes a containing group from a group.
      operationId: remove_group_containing_group
      parameters:
      - description: The ID of the member group to remove.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of the containing group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: containing_group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The remote ID of the member group's access level to filter by.
        example: arn:aws:iam::590304332660:role/AdministratorAccess
        explode: true
        in: query
        name: access_level_remote_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "204":
          description: The member group was successfully removed from the containing
            group.
      security:
      - BearerAuth: []
      tags:
      - groups
    get:
      description: Gets a specific containing group for a group.
      operationId: get_group_containing_group
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of the containing group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: containing_group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupContainingGroup"
          description: The created `GroupContainingGroup` object.
      security:
      - BearerAuth: []
      summary: Get nested group by ID
      tags:
      - groups
  /groups/{group_id}/resources/{resource_id}:
    post:
      description: Adds a resource to a group.
      operationId: add_group_resource
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - deprecated: true
        description: "The remote ID of the access level to grant to this user. If\
          \ omitted, the default access level remote ID value (empty string) is used."
        example: arn:aws:iam::590304332660:role/AdministratorAccess
        explode: true
        in: query
        name: access_level_remote_id
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/add_group_resource_request"
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupResource"
          description: The created `GroupResource` object.
      security:
      - BearerAuth: []
      tags:
      - groups
  /groups/{group_id}/visibility:
    get:
      description: Gets the visibility of this group.
      operationId: get_group_visibility
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VisibilityInfo"
          description: The visibility info of this group.
      security:
      - BearerAuth: []
      tags:
      - groups
    put:
      description: Sets the visibility of this group.
      operationId: set_group_visibility
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VisibilityInfo"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VisibilityInfo"
          description: The visibility info of this group.
      security:
      - BearerAuth: []
      tags:
      - groups
  /groups/{group_id}/reviewers:
    get:
      deprecated: true
      description: Gets the list of owner IDs of the reviewers for a group.
      operationId: get_group_reviewers
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
                  format: uuid
                  type: string
                type: array
          description: The IDs of owners that are reviewers for this group.
      security:
      - BearerAuth: []
      tags:
      - groups
    put:
      deprecated: true
      description: Sets the list of reviewers for a group.
      operationId: set_group_reviewers
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewerIDList"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
                  format: uuid
                  type: string
                type: array
          description: The updated IDs of owners that are reviewers for this group
      security:
      - BearerAuth: []
      tags:
      - groups
  /groups/{group_id}/reviewer-stages:
    get:
      deprecated: true
      description: Gets the list of reviewer stages for a group.
      operationId: get_group_reviewer_stages
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                description: A list of reviewer stages.
                items:
                  $ref: "#/components/schemas/ReviewerStage"
                type: array
          description: The reviewer stages for this group.
      security:
      - BearerAuth: []
      tags:
      - groups
    put:
      deprecated: true
      description: Sets the list of reviewer stages for a group.
      operationId: set_group_reviewer_stages
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewerStageList"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: A list of reviewer stages.
                items:
                  $ref: "#/components/schemas/ReviewerStage"
                type: array
          description: The updated reviewer stages for this group.
      security:
      - BearerAuth: []
      tags:
      - groups
  /groups/{group_id}/tags:
    get:
      description: Returns all tags applied to the group.
      operationId: get_group_tags
      parameters:
      - description: The ID of the group whose tags to return.
        example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TagsList"
          description: The tags applied to the group.
      security:
      - BearerAuth: []
      tags:
      - groups
  /groups/{group_id}/users:
    get:
      description: Gets the list of users for this group.
      operationId: get_group_users
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The pagination cursor value.
        example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page. Default is 200.
        example: 200
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          maximum: 1000
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupUserList"
          description: List of users with access to this group.
      security:
      - BearerAuth: []
      tags:
      - groups
  /groups/{group_id}/users/{user_id}:
    delete:
      description: Removes a user's access from this group.
      operationId: delete_group_user
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of a user to remove from this group.
        example: f92aa855-cea9-4814-b9d8-f2a60d3e4a06
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The remote ID of the access level for which this user has direct\
          \ access. If omitted, the default access level remote ID value (empty string)\
          \ is assumed."
        example: 30
        explode: true
        in: query
        name: access_level_remote_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: This user's access was successfully removed from this group.
      security:
      - BearerAuth: []
      tags:
      - groups
    post:
      description: Adds a user to this group.
      operationId: add_group_user
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of the user to add.
        example: f92aa855-cea9-4814-b9d8-f2a60d3e4a06
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - deprecated: true
        description: The duration for which the group can be accessed (in minutes).
          Use 0 to set to indefinite.
        example: 60
        explode: true
        in: query
        name: duration_minutes
        required: false
        schema:
          maximum: 525960
          type: integer
        style: form
      - deprecated: true
        description: "The remote ID of the access level to grant to this user. If\
          \ omitted, the default access level remote ID value (empty string) is used."
        example: arn:aws:iam::590304332660:role/AdministratorAccess
        explode: true
        in: query
        name: access_level_remote_id
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/add_group_user_request"
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupUser"
          description: The GroupUser that was created.
      security:
      - BearerAuth: []
      tags:
      - groups
    put:
      description: Updates a user's access level or duration in this group.
      operationId: update_group_user
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of the user whose access is being updated.
        example: f92aa855-cea9-4814-b9d8-f2a60d3e4a06
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/update_group_user_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupUser"
          description: The GroupUser was successfully updated.
      security:
      - BearerAuth: []
      tags:
      - groups
  /groups/users/{user_id}:
    get:
      description: Returns all groups that the user is a member of.
      operationId: get_user_groups
      parameters:
      - description: The ID of the user whose groups to return.
        example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The pagination cursor value.
        example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page. Default is 200.
        example: 200
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          maximum: 1000
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupUserList"
          description: The groups that the user is a member of.
      security:
      - BearerAuth: []
      tags:
      - groups
  /group-bindings:
    get:
      description: Returns a list of `GroupBinding` objects.
      operationId: getGroupBindings
      parameters:
      - description: The pagination cursor value.
        example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page. Default is 200.
        example: 200
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          maximum: 1000
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedGroupBindingsList"
          description: One page worth of group bindings for your organization.
      security:
      - BearerAuth: []
      summary: Get group bindings
      tags:
      - group-bindings
    post:
      description: Creates a group binding.
      operationId: createGroupBinding
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateGroupBindingInfo"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupBinding"
          description: The group binding just created.
      security:
      - BearerAuth: []
      tags:
      - group-bindings
    put:
      description: Bulk updates a list of group bindings.
      operationId: updateGroupBindings
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateGroupBindingInfoList"
        description: Group bindings to be updated
        required: true
      responses:
        "200":
          description: The group bindings were successfully updated.
      security:
      - BearerAuth: []
      tags:
      - group-bindings
  /group-bindings/{group_binding_id}:
    delete:
      description: Deletes a group binding.
      operationId: deleteGroupBinding
      parameters:
      - description: The ID of the group binding.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_binding_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: The group binding was successfully deleted.
      security:
      - BearerAuth: []
      tags:
      - group-bindings
    get:
      description: Returns a `GroupBinding` object.
      operationId: getGroupBinding
      parameters:
      - description: The ID of the group binding.
        example: 32acc112-21ff-4669-91c2-21e27683eaa1
        explode: true
        in: path
        name: group_binding_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupBinding"
          description: The requested `GroupBinding`.
      security:
      - BearerAuth: []
      summary: Get group binding by ID
      tags:
      - group-bindings
  /idp-group-mappings/{app_resource_id}:
    get:
      description: Returns the configured set of available `IdpGroupMapping` objects
        for an Okta app.
      operationId: getIdpGroupMappings
      parameters:
      - description: The ID of the Okta app.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: app_resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdpGroupMappingList"
          description: The configured set of available `IdpGroupMapping` objects for
            an Okta app.
      security:
      - BearerAuth: []
      tags:
      - idp-group-mappings
    put:
      description: Updates the list of available `IdpGroupMapping` objects for an
        Okta app.
      operationId: updateIdpGroupMappings
      parameters:
      - description: The ID of the Okta app.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: app_resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateIdpGroupMappings_request"
        required: true
      responses:
        "200":
          description: The updated set of available `IdpGroupMapping` objects for
            an Okta app.
      security:
      - BearerAuth: []
      tags:
      - idp-group-mappings
  /idp-group-mappings/{app_resource_id}/groups/{group_id}:
    delete:
      description: Deletes an `IdpGroupMapping` object.
      operationId: delete_idp_group_mappings
      parameters:
      - description: The ID of the Okta app.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: app_resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: The IDP group mapping was successfully deleted.
      security:
      - BearerAuth: []
      tags:
      - idp-group-mappings
    get:
      description: Gets an `IdpGroupMapping` object for an Okta app and group.
      operationId: getIdpGroupMapping
      parameters:
      - description: The ID of the Okta app.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: app_resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdpGroupMapping"
          description: The `IdpGroupMapping` object for the Okta app and group.
      security:
      - BearerAuth: []
      tags:
      - idp-group-mappings
    post:
      description: |
        Creates or updates an individual `IdpGroupMapping` object (upsert operation).

        **Behavior:**
        - If the mapping doesn't exist, it will be created with the provided values
        - If the mapping exists, only the fields provided in the request will be updated
      operationId: createIdpGroupMapping
      parameters:
      - description: The ID of the Okta app.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: app_resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createIdpGroupMapping_request"
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdpGroupMapping"
          description: The IDP group mapping was successfully created or updated.
      security:
      - BearerAuth: []
      tags:
      - idp-group-mappings
  /owners:
    get:
      description: Returns a list of `Owner` objects.
      operationId: get_owners
      parameters:
      - description: The pagination cursor value.
        example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page. Default is 200.
        example: 200
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          maximum: 1000
          type: integer
        style: form
      - description: Owner name to filter by.
        example: 200
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedOwnersList"
          description: One page worth of owners in your organization.
      security:
      - BearerAuth: []
      summary: Get owners
      tags:
      - owners
    post:
      description: Creates an owner.
      operationId: createOwner
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOwnerInfo"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Owner"
          description: The owner just created.
      security:
      - BearerAuth: []
      tags:
      - owners
    put:
      description: Bulk updates a list of owners.
      operationId: updateOwners
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOwnerInfoList"
        description: Owners to be updated
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateOwnerInfoList"
          description: The resulting updated owner infos.
      security:
      - BearerAuth: []
      tags:
      - owners
  /owners/{owner_id}:
    delete:
      description: Deletes an owner.
      operationId: delete_owner
      parameters:
      - description: The ID of the owner.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: owner_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: The owner was successfully deleted.
      security:
      - BearerAuth: []
      tags:
      - owners
    get:
      description: Returns an `Owner` object.
      operationId: getOwner
      parameters:
      - description: The ID of the owner.
        example: 32acc112-21ff-4669-91c2-21e27683eaa1
        explode: true
        in: path
        name: owner_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Owner"
          description: The owner object associated with the passed-in ID.
      security:
      - BearerAuth: []
      summary: Get owner by ID
      tags:
      - owners
  /owners/name/{owner_name}:
    get:
      description: "Returns an `Owner` object. Does not support owners with `/` in\
        \ their name, use /owners?name=... instead."
      operationId: getOwnerFromName
      parameters:
      - description: The name of the owner.
        example: MyOwner
        explode: true
        in: path
        name: owner_name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Owner"
          description: The owner object associated with the passed-in name.
      security:
      - BearerAuth: []
      tags:
      - owners
  /owners/{owner_id}/users:
    get:
      description: "Gets the list of users for this owner, in escalation priority\
        \ order if applicable."
      operationId: get_owner_users
      parameters:
      - description: The ID of the owner.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: owner_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserList"
          description: The users for this owner.
      security:
      - BearerAuth: []
      tags:
      - owners
    put:
      description: "Sets the list of users for this owner. If escalation is enabled,\
        \ the order of this list is the escalation priority order of the users. If\
        \ the owner has a source group, adding or removing users from this list won't\
        \ be possible."
      operationId: set_owner_users
      parameters:
      - description: The ID of the owner.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: owner_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserIDList"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserList"
          description: The updated users for the owner.
      security:
      - BearerAuth: []
      tags:
      - owners
  /requests:
    get:
      description: Returns a list of requests for your organization that is visible
        by the admin.
      operationId: getRequests
      parameters:
      - description: A start date filter for the events.
        examples:
          withDate:
            summary: Example with date
            value: 2021-11-01
          withDatetime:
            summary: Example with date and time in ISO 8601 datetime format.
            value: 2025-01-01T00:00:00Z
        explode: true
        in: query
        name: start_date_filter
        required: false
        schema:
          type: string
        style: form
      - description: An end date filter for the events.
        examples:
          withDate:
            summary: Example with date
            value: 2021-11-12
          withDatetime:
            summary: Example with date and time in ISO 8601 datetime format.
            value: 2025-01-01T00:00:00Z
        explode: true
        in: query
        name: end_date_filter
        required: false
        schema:
          type: string
        style: form
      - description: Filter requests by their requester ID.
        example: 37cb7e41-12ba-46da-92ff-030abe0450b1
        explode: true
        in: query
        name: requester_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Filter requests by their target user ID.
        example: 37cb7e41-12ba-46da-92ff-030abe0450b1
        explode: true
        in: query
        name: target_user_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Filter requests by the resource ID that was requested.
        example: 37cb7e41-12ba-46da-92ff-030abe0450b1
        explode: true
        in: query
        name: resource_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Filter requests by the group ID that was requested.
        example: 37cb7e41-12ba-46da-92ff-030abe0450b1
        explode: true
        in: query
        name: group_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: The pagination cursor value.
        example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page. Default is 200.
        example: 200
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          maximum: 1000
          type: integer
        style: form
      - description: Boolean toggle for if it should only show pending requests.
        explode: true
        in: query
        name: show_pending_only
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestList"
          description: The list of requests.
      security:
      - BearerAuth: []
      summary: Get requests
      tags:
      - requests
    post:
      description: Create an access request
      operationId: createRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRequestInfo"
        description: Resources to be updated
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createRequest_200_response"
          description: The resulting request.
      security:
      - BearerAuth: []
      tags:
      - requests
  /requests/relay:
    get:
      deprecated: true
      description: Returns a paginated list of requests using Relay-style cursor pagination.
      operationId: getRequestsRelay
      parameters:
      - description: "Number of results to return after the cursor. Use either first/after\
          \ or last/before, not both."
        example: 10
        explode: true
        in: query
        name: first
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Cursor to fetch results after. Used with 'first' for forward
          pagination.
        example: Y3Vyc29yOnYyOpK5MjAyMS0wMS0wN1QwNzo0MToyNy4xMTlaFjYwZmM2YmJlZjk4YzE1N2ZhNjFhYjk4Nw==
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - description: "Number of results to return before the cursor. Use either first/after\
          \ or last/before, not both."
        example: 10
        explode: true
        in: query
        name: last
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Cursor to fetch results before. Used with 'last' for backward
          pagination.
        example: Y3Vyc29yOnYyOpK5MjAyMS0wMS0wN1QwNzo0MToyNy4xMTlaFjYwZmM2YmJlZjk4YzE1N2ZhNjFhYjk4Nw==
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: Filter requests by their status.
        example: PENDING
        explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: "#/components/schemas/RequestStatusEnum"
        style: form
      - description: Filter requests assigned to a specific user ID.
        example: 37cb7e41-12ba-46da-92ff-030abe0450b1
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Filter requests made by a specific user ID.
        example: 37cb7e41-12ba-46da-92ff-030abe0450b1
        explode: true
        in: query
        name: from
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestConnection"
          description: A paginated list of requests using Relay-style cursor pagination.
      security:
      - BearerAuth: []
      summary: Get requests via Relay
      tags:
      - requests
  /requests/{id}:
    get:
      description: Returns a request by ID.
      operationId: getRequest
      parameters:
      - description: The ID of the request.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Request"
          description: The requested request object.
      security:
      - BearerAuth: []
      summary: Get request by ID
      tags:
      - requests
  /requests/{id}/approve:
    post:
      description: Approve an access request
      operationId: approveRequest
      parameters:
      - description: The ID of the request to approve
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/approveRequest_request"
        description: Approval parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/approveRequest_200_response"
          description: Request successfully approved
      security:
      - BearerAuth: []
      tags:
      - requests
  /requests/{id}/deny:
    post:
      description: Deny an access request
      operationId: denyRequest
      parameters:
      - description: The ID of the request to deny
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/denyRequest_request"
        description: Denial parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/approveRequest_200_response"
          description: Request successfully denied
      security:
      - BearerAuth: []
      tags:
      - requests
  /requests/{id}/comments:
    get:
      description: Returns a list of comments for a specific request.
      operationId: getRequestComments
      parameters:
      - description: The ID of the request to get comments for
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestCommentList"
          description: A list of comments associated with the specified request.
      security:
      - BearerAuth: []
      tags:
      - requests
    post:
      description: Comment on an access request
      operationId: createRequestComment
      parameters:
      - description: The ID of the request to comment on
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createRequestComment_request"
        description: Comment parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/approveRequest_200_response"
          description: Request successfully commented
      security:
      - BearerAuth: []
      tags:
      - requests
  /resources:
    get:
      description: Returns a list of resources for your organization.
      operationId: getResources
      parameters:
      - description: The pagination cursor value.
        example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page. Default is 200.
        example: 200
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          maximum: 1000
          type: integer
        style: form
      - description: The resource type to filter by. Required when remote_id is provided.
        example: AWS_IAM_ROLE
        explode: true
        in: query
        name: resource_type_filter
        required: false
        schema:
          $ref: "#/components/schemas/ResourceTypeEnum"
        style: form
      - description: The resource ids to filter by.
        example:
        - 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        - 1b978423-db0a-4037-a4cf-f79c60cb67b3
        explode: false
        in: query
        name: resource_ids
        required: false
        schema:
          items:
            example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
            format: uuid
            type: string
          type: array
        style: form
      - description: Resource name.
        example: example-name
        explode: true
        in: query
        name: resource_name
        required: false
        schema:
          type: string
        style: form
      - description: The parent resource id to filter by.
        example:
        - 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: query
        name: parent_resource_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: The ancestor resource id to filter by. Returns all resources
          that are descendants of the specified resource.
        example:
        - 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: query
        name: ancestor_resource_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Filter resources by their remote id. This will return all resources
          that have a remote id that matches the provided remote id. Note that this
          requires resource_type_filter to be provided.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          type: string
        style: form
      - description: The IDs of the tags to filter by. Returns only resources that
          have any of these tags applied.
        explode: true
        in: query
        name: tag_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResourcesList"
          description: One page worth resources associated with your organization.
      security:
      - BearerAuth: []
      summary: Get resources
      tags:
      - resources
    post:
      description: "Creates a resource. See [here](https://docs.opal.dev/reference/end-system-objects)\
        \ for details about importing resources."
      operationId: createResource
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateResourceInfo"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Resource"
          description: The resource just created.
      security:
      - BearerAuth: []
      tags:
      - resources
    put:
      description: Bulk updates a list of resources.
      operationId: updateResources
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateResourceInfoList"
        description: Resources to be updated
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateResourceInfoList"
          description: The resulting updated resource infos.
      security:
      - BearerAuth: []
      tags:
      - resources
  /resources/{resource_id}:
    delete:
      description: Deletes a resource.
      operationId: delete_resource
      parameters:
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: The resource was successfully deleted.
      security:
      - BearerAuth: []
      tags:
      - resources
    get:
      description: Retrieves a resource.
      operationId: get_resource
      parameters:
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Resource"
          description: The requested resource.
      security:
      - BearerAuth: []
      summary: Get resource by ID
      tags:
      - resources
  /resources/{resource_id}/message-channels:
    get:
      description: Gets the list of audit message channels attached to a resource.
      operationId: get_resource_message_channels
      parameters:
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageChannelList"
          description: The audit message channels attached to the resource.
      security:
      - BearerAuth: []
      tags:
      - resources
    put:
      description: Sets the list of audit message channels attached to a resource.
      operationId: set_resource_message_channels
      parameters:
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MessageChannelIDList"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
                  format: uuid
                  type: string
                type: array
          description: The updated audit message channel IDs for the resource.
      security:
      - BearerAuth: []
      tags:
      - resources
  /resources/{resource_id}/visibility:
    get:
      description: Gets the visibility of this resource.
      operationId: get_resource_visibility
      parameters:
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VisibilityInfo"
          description: The visibility info of this resource.
      security:
      - BearerAuth: []
      tags:
      - resources
    put:
      description: Sets the visibility of this resource.
      operationId: set_resource_visibility
      parameters:
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VisibilityInfo"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VisibilityInfo"
          description: The visibility info of this resource.
      security:
      - BearerAuth: []
      tags:
      - resources
  /resources/{resource_id}/reviewers:
    get:
      description: Gets the list of owner IDs of the reviewers for a resource.
      operationId: get_resource_reviewers
      parameters:
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
                  format: uuid
                  type: string
                type: array
          description: The IDs of owners that are reviewers for this resource.
      security:
      - BearerAuth: []
      tags:
      - resources
    put:
      description: Sets the list of reviewers for a resource.
      operationId: set_resource_reviewers
      parameters:
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewerIDList"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
                  format: uuid
                  type: string
                type: array
          description: The updated IDs of owners that are reviewers for this resource
      security:
      - BearerAuth: []
      tags:
      - resources
  /resources/{resource_id}/reviewer-stages:
    get:
      description: Gets the list reviewer stages for a resource.
      operationId: get_resource_reviewer_stages
      parameters:
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                description: A list of reviewer stages.
                items:
                  $ref: "#/components/schemas/ReviewerStage"
                type: array
          description: The reviewer stages for this resource.
      security:
      - BearerAuth: []
      tags:
      - resources
    put:
      description: Sets the list of reviewer stages for a resource.
      operationId: set_resource_reviewer_stages
      parameters:
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewerStageList"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: A list of reviewer stages.
                items:
                  $ref: "#/components/schemas/ReviewerStage"
                type: array
          description: The updated reviewer stages for this resource.
      security:
      - BearerAuth: []
      tags:
      - resources
  /non-human-identities:
    get:
      description: Returns a list of non-human identities for your organization.
      operationId: get_nhis
      parameters:
      - description: The pagination cursor value.
        example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page. Default is 200.
        example: 200
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          maximum: 1000
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResourcesList"
          description: One page worth non-human identities in your organization.
      security:
      - BearerAuth: []
      tags:
      - non-human-identities
  /resources/{resource_id}/non-human-identities:
    get:
      description: Gets the list of non-human identities with access to this resource.
      operationId: get_resource_nhis
      parameters:
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Limit the number of results returned.
        example: 200
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessList"
          description: List of non-human identities with access to this resource.
      security:
      - BearerAuth: []
      tags:
      - resources
  /resources/{resource_id}/users:
    get:
      description: Gets the list of users for this resource.
      operationId: get_resource_users
      parameters:
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Limit the number of results returned.
        example: 200
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceAccessUserList"
          description: List of users with access to this resource.
      security:
      - BearerAuth: []
      summary: Get resource users
      tags:
      - resources
  /resources/{resource_id}/non-human-identities/{non_human_identity_id}:
    delete:
      description: Removes a non-human identity's direct access from this resource.
      operationId: delete_resource_nhi
      parameters:
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The resource ID of the non-human identity to remove from this
          resource.
        example: f92aa855-cea9-4814-b9d8-f2a60d3e4a06
        explode: false
        in: path
        name: non_human_identity_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The remote ID of the access level for which this non-human identity\
          \ has direct access. If omitted, the default access level remote ID value\
          \ (empty string) is assumed."
        example: roles/cloudsql.instanceUser
        explode: true
        in: query
        name: access_level_remote_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: This non-human identity's access was successfully removed from
            this resource.
      security:
      - BearerAuth: []
      tags:
      - resources
    post:
      description: Gives a non-human identity access to this resource.
      operationId: add_resource_nhi
      parameters:
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The resource ID of the non-human identity to add.
        example: f92aa855-cea9-4814-b9d8-f2a60d3e4a06
        explode: false
        in: path
        name: non_human_identity_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/add_resource_nhi_request"
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNHI"
          description: Details about the access that the non-human identity was granted
            to the resource.
      security:
      - BearerAuth: []
      tags:
      - resources
  /resources/{resource_id}/users/{user_id}:
    delete:
      description: Removes a user's direct access from this resource.
      operationId: delete_resource_user
      parameters:
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of a user to remove from this resource.
        example: f92aa855-cea9-4814-b9d8-f2a60d3e4a06
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The remote ID of the access level for which this user has direct\
          \ access. If omitted, the default access level remote ID value (empty string)\
          \ is assumed."
        example: arn:aws:iam::590304332660:role/AdministratorAccess
        explode: true
        in: query
        name: access_level_remote_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: This user's access was successfully removed from this resource.
      security:
      - BearerAuth: []
      tags:
      - resources
    get:
      description: Returns information about a specific user's access to a resource.
      operationId: getResourceUser
      parameters:
      - description: The ID of the resource.
        example: 32acc112-21ff-4669-91c2-21e27683eaa1
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of the user.
        example: 29827fb8-f2dd-4e80-9576-28e31e9934ac
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The pagination cursor value.
        example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getResourceUser_200_response"
[...]
